@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
  background: url('background2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Orbitron', sans-serif;
  color: #f6eeef;
}

nav {
  background-color: #72557a;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #e4d49e;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

nav ul li a:hover {
  color: #b49d73;
}

h1 {
  font-size: 3em; /* Increase the font size */
  color: #e4d49e; /* Change the color */
  text-shadow: 2px 2px 4px #837d9d; /* Add a text shadow */
  padding: 15px 0;
  text-align: center;
}

article {
  background-color: #b194b1;
  border: 2px solid #bf6f89;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
  transition: transform 0.3s ease-in-out;
}

article:hover {
  transform: scale(1.02);
}

article h2 {
  border-bottom: 1px solid #837d9d;
  padding-bottom: 10px;
}

article p {
  font-size: 1em;
  line-height: 1.5;
  color: #8474b4;
}

/* Other CSS stays the same */

#about {
  background-color: #f6eeef;
  padding: 15px;
  border-radius: 20px;
  margin: 15px;
  color: #72557a;
}

#about .about-content {
  position: relative;
}

.about-text {
  background-color: #f6eeef;
  padding: 15px;
  border-radius: 20px;
}

.about-img-wrapper {
  position: absolute;
  right: -20px; /* Adjust this value to move the images further to the right */
  border: 3px solid #837d9d; /* Increase border width and choose darker color */
  border-radius: 10px;
}

.about-img-wrapper:first-child {
  top: 0; 
}

.about-img-wrapper:last-child {
  top: 50px; /* Adjust this value to stagger the images vertically */
}

#audioPlayer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.player-controls {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  width: 200px;
  background-color: #72557a;
  padding: 10px;
  border-radius: 20px;
}

.control-button {
  background-color: #e4d49e;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: #72557a;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.control-button:hover {
  background-color: #b49d73;
}
