@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
  background: url('background2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Orbitron', sans-serif;
  color: #f6eeef;
}

nav {
  background-color: #72557a;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #e4d49e;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

nav ul li a:hover {
  color: #b49d73;
}

h1 {
  font-size: 3em;
  color: #e4d49e;
  text-shadow: 2px 2px 4px #837d9d;
  padding: 15px 0;
  text-align: center;
}

#about {
  background-color: #f6eeef;
  padding: 15px;
  border-radius: 20px;
  margin: 15px;
  color: #72557a;
}

#about .about-content {
  position: relative;
}

.about-text {
  background-color: #f6eeef;
  padding: 15px;
  border-radius: 20px;
}

.about-img-wrapper {
  position: absolute;
  right: -20px;
  border: 3px solid #837d9d;
  border-radius: 10px;
}

.about-img-wrapper:first-child {
  top: 0; 
}

.about-img-wrapper:last-child {
  top: 50px;
}

#audioPlayer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.player-controls {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  width: 200px;
  background-color: #72557a;
  padding: 10px;
  border-radius: 20px;
}
.control-button {
  background-color: #e4d49e;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: #72557a;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.control-button:hover {
  background-color: #b49d73;
}

#showModal {
  display: block;
  width: 200px;
  height: 50px;
  margin: 20px auto;
  background-color: #72557a;
  color: #f6eeef;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#showModal:hover {
  background-color: #e4d49e;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

#modalContainer {
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1000;
  transform: translateX(100%);
}

#modalContainer.active {
  display: block;
  animation: slideInFromRight 0.5s ease-out forwards;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}


#modal {
  position: relative;
  background-color: transparent;
  border: none;
  padding: 20px;
  width: auto;
  max-width: none;
  box-sizing: border-box;
}

#modal img {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
}

#speechBubbleImage {
  position: absolute;
  bottom: -20px;
  left: 10px;
  width: 100px;
  height: auto;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#modalContainer.active #modal #speechBubbleImage {
  opacity: 1;
}


#slideImage {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
  z-index: 2000;
}

#slideImage.active {
  display: block;
}

#modal #modalText {
  margin-top: 20px;
}

#modal #modalText a {
  color: #f6eeef;
  text-decoration: none;
  margin-right: 10px;
}

#modal #modalText a:hover {
  color: #e4d49e;
}
